a {
  text-decoration: none;
}
.your-article-list, .missed-article-list {
  text-align: left;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  >.heading-container {
    margin: 0 0.5em 1em 0.5em;
    border-bottom: 1px solid lightgray;
    >h1 {
      display: inline-block;
      padding-bottom: 0.5em;
      margin-bottom: 0;
      border-bottom: 1px solid darkgray;
    }
  }
  >.article-list-container {
    margin: 0 0 2em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    >.article-container {
      flex-basis: auto;
    }
  }
}

.your-article-list {
  >.article-list-container {
    .article-container {
      width: 50%;
      .article-content {
        display: grid;
        grid-template-columns: 240px auto;
        grid-template-rows: 320px;
        grid-template-areas:
          "image article";
        img {
          grid-area: image;
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
        article {
          grid-area: article;
        }
      }
    }
  }
}

.missed-article-list {
  >.article-list-container {
    .article-container {
      width: 33.33%;
      .article-content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 124px 196px;
        grid-template-areas:
          "image"
          "article";
        img {
          grid-area: image;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

.article-content {
  border: 1px solid lightgray;
  margin: 0.5em;
  article {
    margin: 1em;
    position: relative;
    & h2 {
      margin-top: 0;
      color: black;
    }
    & p {
      color: dimgray;
    }
    >.article-identifiers {
      color: dimgray;
      display: grid;
      grid-template-columns: 1fr 50px;
      grid-template-rows: auto;
      grid-template-areas:
        "first second";
      >span {
        grid-area: first;
      }
      >span:nth-of-type(2) {
        grid-area: second;
        text-align: right;
      }
    }
    >.author-container {
      position: absolute;
      bottom: 0;
    }
  }
}

.author-container {
  width: 100%;
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  grid-template-rows: auto;
  grid-template-areas:
    "image name bookmark";
  .author-image-container {
    width: 50px;
    height: 58px;
    overflow: hidden;
    grid-area: image;
    img {
      max-width: 50px;
      max-height: 50px;
      border-radius: 50%;
      transform: translateY(4px);
    }
    img.medium-member {
      border: 1px solid green;
      padding: 3px;
      transform: translateX(-4px);
    }
  }
  .author-name, .bookmark {
    padding: 0.5em;
  }
  .author-name {
    grid-area: name;
    >p {
      margin-top: 0.2em;
      margin-bottom: 0;
    }
  }
  .bookmark {
    grid-area: bookmark;
    text-align: right;
    color: dimgray;
    padding-right: 0;
  }
}

.article-date-reading {
  color: dimgray;
}

.article-identifier-text {
  padding-left: 0.5em;
}

.bookmarked {
  color: green;
}

@media screen and (max-width: 1023px) {
  .your-article-list, .missed-article-list {
    >.article-list-container {
      .article-container {
        width: 100%;
      }
    }
  }
}
